body {
	text-align: center;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}


nav {
	background-color: #808080;
}
nav a {
	background-color: #ffbf00;
	color: #FFFFFF;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}

nav a:hover {
	background-color: #ee5f3c;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

h1 {
	color: teal;
}
	h2 {
	color: gold;
}

h1,h2 {
	margin: 2%;
	font-size: 1.5em;
}

p {
	font-size: 1.1em;
	font-weight: lighter;
	letter-spacing: 1px;
	line-height: 1.5em;
}
.description {
	text-align: justify;
	margin: 2% 12% 0 12%;
}
.board {
	height: 80%;
	width: 50%;
	display: inline-block;
}

.card {
	background-color: #E9FF00;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
	float: left;
	margin: 12%;
}

img {
	margin: 1% 35% 1% 35%;
	padding: 2em;
}

img:hover {
	background: gold;
	border-radius: 100px;
	cursor: pointer;
}

.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

.name {
	text-transform: uppercase;
	color: #ff0000;
}

.material-icons {
	padding: 1%;
}

footer {
	background-color: #808080;
}

.footer {
	padding: 2% 2% 0 2%;
}
